.admin_right_tittle{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: white;
    padding-top: 10px;
    margin-bottom: 20px;
}
.admin_right_table table{
    width: 100%;
}
.admin_right_table table tr th{
    color: white;
    padding: 15px;
    text-align: center;
    border: 1px solid white;
    font-size: 1.4rem;
    font-weight: 500;
}
.admin_right_table table tr td{
    text-align: center;
    padding: 15px;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    border: 1px solid white;
}
.admin_right_table table tr td img{
    width: 50%;
    display: block;
    margin: 0 auto;
}
.item_chucnang{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item_chucnang a{
    color: white;
    font-size: 1.3rem;
}
.admin_right_back{
    margin: 30px 0px 15px 0px;
}
.admin_right_back a{
    width: 100%;
    text-align: right;
    font-size: 1.4rem;
    color: white;
    display: block;
    padding: 0px 15px 0px 0px;
}