html{
    font-size: 14px;
}
.admin_right_tittle{
    width: 100%;
    font-size: 3rem;
    text-align: center;
    color: white;
    padding: 20px 0px;
    margin-bottom: 30px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
}
.admin_right_tittle::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    border: 1px solid white;
}
.admin_right_search{
    width: 100%;
    padding: 15px 0px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}
.admin_right_search form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin_right_search form .item1{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.admin_right_search form .item1 input{
    width: 77%;
    padding: 7px 10px;
    outline: none;
    border: 0px;
    font-size: 1.1rem;
    margin: 10px 0px;
}
.admin_right_search form .item2{
    width: 20%;
}
.admin_right_search form .item2 button{
    padding: 25px 30px;
    font-size: 1.1rem;
    font-weight: 500;
}
.admin_right_table{
    width: 100%;
    padding: 10px;
}
.admin_right_table_tittle{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.admin_right_table_frame{
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
}

.admin_right_table_frame th{
    font-size: 1.3rem;
    color: white;
    padding: 7px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid white;
}
.admin_right_table_frame td{
    font-size: 1.1rem;
    color: white;
    padding: 7px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid white;
}
.admin_right_table_consequence{
    width: 100%;
    text-align: right;
    padding: 15px 7px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #08f504;
    margin-top: 20px;
}
.red1{
    color: red !important;
}
.green1{
    color: #08f504 !important;
}