html{
    background-image: url(https://p.w3layouts.com/demos/aug-2016/19-08-2016/classy_login_form/web/images/banner1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 1000px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 602px;
    height: 770px;
    padding: 15px 10px 15px 10px;
    box-sizing: border-box;
    margin: 0 auto;
}
.tittle{
    font-size: 65px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 120px;
    color: white;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* làm phần main header */
.header-main{
    width: 490px;
    margin: auto;
}
.backgroud-input{
    width: 490px;
    height: 66px;
    display: inline-flex;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
}
.fa-user{
    font-size: 25px;
    margin-top: 25px;
    margin-right: 10px;
    color: white;
}
.fa-lock{
    font-size: 25px;
    margin-top: 25px;
    margin-right: 10px;
    color: white;
}
.backgroud-input input{
    width: 465px;
    height: 64px;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}
.pass{
    margin-bottom: 35px;
}


.remember-pass{
    width: 500px;
    margin: 0 auto;
    display: inline-flex;
    justify-content: space-between;
}
.remember-item{
    width: 151px;
    display: inline-flex;
    justify-content: space-between;
}
.remember-item input{
    width: 20px;
    height: 20px;
    background-color: white;
}
.remember-item p{
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    color: white;
}
.remember-pass p{
    margin: 0;
}
.remember-pass a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.remember-pass a:hover{
    color: red;
}
  /* làm phần cuối header main từ chỗ nút login đến hết */
.header-bottom{
    width: 490px;
    margin: auto;
    margin-top: 20px;
}
  .header-bottom input{
      width: 490px;
      height: 66px;
      background-color: #ff3366;
      border: none;
      outline: none;
      transition: 0.5s;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: bold;
      color: white;
      cursor: pointer;
  }
  .header-bottom input:hover{
      background-color: rgb(145, 16, 42);
      transition: 0.5s;
  }
  .or{
      width: 60px;
      height: 60px;
      text-align: center;
      border: none;
      line-height: 60px;
      border-radius: 50%;
      background-color: #ff3366;
      margin: auto;
      margin-bottom: 10px;
      color: white;
  }
.facebook-twitter{
    width: 500px;
    display: inline-flex;
    justify-content: space-between;
}
.facebook-twitter p{
    width: 180px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-weight: bolder;
    font-size: 17px;
    letter-spacing: 4px;
    color: white;
}
.facebook{
    background-color: #3B62A3;
    transition: 0.5s;
}
.facebook:hover{
    background-color: #213c6b;
    transition: 0.5s;
}
.twitter{
    background-color: #19B0E7;
    transition: 0.5s;
}
.twitter:hover{
    background-color: #11698a;
    transition: 0.5s;
}
.facebook-twitter a{
    text-decoration: none;
}